
@supports (grid-area: auto) {
	
	#grid {
			display: grid;
			grid-template-columns: 20% 20% 20%;
			/*90% screen - leaves spaces for grid-gap */
			grid-template-areas: 
				"fitness christmas beagles";
			justify-content: center;
			grid-gap: 13% 13%;
	}
	
	
}
